;
; lang_php_fpm_pool configuration
; {{ ansible_managed }}
;
{% set _fpm_pool = _lang_php_fpm_pool.config %}
{% set _fpm_pool_develop = _lang_php_fpm_pool_develop is defined and _lang_php_fpm_pool_develop %}

[{{ _fpm_pool.user }}{% if _lang_php_fpm_pool_develop is defined and _lang_php_fpm_pool_develop %}-develop{% endif %}]

{% for _key, _value in _fpm_pool|dictsort %}
{% if _key != "group" and _key != "user" and _key != "listen.group" and _key != "listen.owner" and _fpm_pool_develop %}
{% set _value = _value | replace( _fpm_pool.user, _fpm_pool.user + "-develop" ) %}
{% endif %}
{{ _key }} = {{ _value }}
{% endfor %}

{% if _fpm_pool_develop %}
{% for _key, _value in _lang_php.config.develop|dictsort %}
{% if _value is number and ( _value == 1 or _value == 0 ) %}
php_flag[{{ _key }}] = {% if _value %}on{% else %}off{% endif %}

{% else %}
php_value[{{ _key }}] = {{ _value }}
{% endif %}
{% endfor %}
{% endif %}
