#
# os kernel sysctl
# {{ ansible_managed }}
#

{% for key, value in _os_kernel.sysctl|dictsort %}
{% if value is none %}
# skipping key {{ key }}
{% else %}
{{key}}={{value}}
{% endif %}
{% endfor %}
