#
# os localtime ntp
# {{ ansible_managed }}
#

disable monitor
driftfile /var/lib/ntp/ntp.drift

{% for server in _os_locale.ntp.servers %}
server {{ server }}
{% endfor %}

{% for restrict in _os_locale.ntp.restrict %}
restrict {{ restrict }}
{% endfor %}
