[client]
host     = localhost
user     = {{ _db_mariadb.users.root.name }}
password = {{ _db_mariadb.users.root.pass }}
socket   = {{ _db_mariadb.socket }}

[mysql_upgrade]
host     = localhost
user     = {{ _db_mariadb.users.root.name }}
password = {{ _db_mariadb.users.root.pass }}
socket   = {{ _db_mariadb.socket }}
basedir  = /usr
