#
# db_mariadb
# {{ ansible_managed }}
#

{% if _db_mariadb.config %}
{% for section_key, section_value in _db_mariadb.config|dictsort %}

[{{ section_key}}]

{% for key, value in section_value|dictsort %}
{% if value is iterable and value is not string %}
{% for value_sub in value %}
{{ key }} {{ value_sub }}
{% endfor %}{# for value_sub #}
{% else %}{# if value is iterable #}
{% if value != None and value != "None" and value is defined %}
{{ key }} = {{ value }}
{% else %}
{{ key }}
{% endif %}{# if value != None #}
{% endif %}{# if value is iterable #}
{% endfor %}{# for key, value #}
{% endfor %}{# for section_key #}
{% endif %}{# if _db_mariadb.config #}


{{ __db_mariadb.config_include }}
