--
-- db_mariadb post install/configure
-- {{ ansible_managed }}
--

-- DELETE FROM mysql.user WHERE User='';
-- DELETE FROM mysql.user WHERE User='{{ _db_mariadb.users.root.name }}' AND Host NOT IN ('localhost', '127.0.0.1', '::1');
-- DROP DATABASE test;
UPDATE mysql.user SET `plugin` = 'mysql_native_password';
SET PASSWORD FOR '{{ _db_mariadb.users.root.name }}'@'localhost' = PASSWORD('{{ _db_mariadb.users.root.pass }}');
SET PASSWORD FOR '{{ _db_mariadb.users.root.name }}'@'127.0.0.1' = PASSWORD('{{ _db_mariadb.users.root.pass }}');
SET PASSWORD FOR '{{ _db_mariadb.users.root.name }}'@'::1' = PASSWORD('{{ _db_mariadb.users.root.pass }}');
-- INFO this is failing (i guess it was defined just because of the interactive install)
-- SET PASSWORD FOR '{{ _db_mariadb.users.root.name }}'@'{{ _os_net.host }}' = PASSWORD('{{ _db_mariadb.users.root.pass }}');
