#
# db_memcached configuration
# {{ ansible_managed }}
#

{% set db_memcached_options = _db_memcached.options_default | combine( _db_memcached.options, recursive=True ) %}

{% for option_key, option_value in db_memcached_options|dictsort %}
{% if option_value %}
{% if option_key | length == 1 %}-{% endif %}{{ option_key }} {{ option_value }}
{% endif %}
{% endfor %}
