;
; Lang PHP FPM Configuration
; {{ ansible_managed }}
;

[global]
{% for _key, _value in __lang_php_fpm.config_fpm|dictsort %}
{{ _key }} = {{ _value }}
{% endfor %}
{% if _lang_php_fpm.config_fpm_include is defined and _lang_php_fpm.config_fpm_include %}
include = {{ _lang_php_fpm.config_fpm_include }}
{% endif %}
