#
# os_kernel modules
# {{ ansible_managed }}
#

{% for _module in _os_kernel_modprobe %}
{% set _module_name = _module.name | default( _module ) %}
{% set _module_state = _module.state | default( 'present' ) %}
{% if _module_state == 'present' %}
{{ _module_name }}
{% endif %}
{% endfor %}
